.login {
  &_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &_card {
      border: 1px solid #D2D2D2;
      padding: 15px 30px 30px 30px;
      width: 25%;
      height: auto;
      text-align: center;

      h2 {
        font-size: 30px;
      }
      form {
        input {
          width: 70%;
          padding: 21px 25px;
          border: 1px solid #D2D2D7;
          margin: 7px 0;
          outline: none;
        }
        button {
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          color: #FFFFFF;
          background: #5E8BCE;
          border-radius: 5px;
          border: none;
          height: 40px;
          width: 70%;
          margin: 15px;
          cursor: pointer;

          &:hover {
            opacity: .9;
          }
        }

        a {
          font-size: 18px;
          color: blue;
          cursor: pointer;

          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}