.advantages__block {
  width: 100%;
  border-radius: 20px;
  min-height: 680px;
  padding: 80px 20px;
  background: #fff;
  margin-top: 30px;
  &-desc{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

  }
  &-title{
    width: 50%;
    color: rgb(0 0 0);
    font-size: 38px;
    font-weight: 700;
    align-items: center;
    text-align: center;
  }
  &-info{
    padding: 125px 90px;
    width: 50%;
    color: rgb( 0 0 0);
    font-size: 27px;
    line-height: 40px;
  }
  &-image{
    width: 50%;
    max-width: 650px;
    object-fit: cover;
    min-height: 630px;
    padding-bottom: 30px;
  }
}