.advantages{
  width: 100%;
  padding: 15px 35px;
  &__block{
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
    &-first{
      width: 300px;
      height: 270px;
      background: #101010;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      &-info{
        justify-content: center;
        color: #FFFFFF;
        text-align: center;
        padding: 40px 20px;
        &-title{
          font-size: 27px;
        }
        &-desc{
          font-size: 20px;
        }
      }
    }

    &-second{
      width: 600px;
      height: 220px;
      background: linear-gradient(180deg,#8be962 29%,#6cd179 87%);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      &-info{
        justify-content: center;
        color: #FFFFFF;
        text-align: center;
        padding: 50px 20px;
        &-title{
          font-size: 27px;
        }
        &-desc{
          font-size: 20px;
        }
      }
    }

    &-third{
      width: 300px;
      height: 270px;
      background: #FFFFFF;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      border: 1px solid #000;
      &-info{
        justify-content: center;
        color: #101010;
        text-align: center;
        padding: 15px 20px;
        &-title{
          font-size: 27px;
        }
        &-desc{
          font-size: 20px;
        }
      }
    }

  }
}