.card {
  width: 360px;
  height: 450px;
  min-height: 470px;
  max-height: 470px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 10px 10px;
  &:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  &__img {
    width: 100%;
    max-width: 300px;
    height: 238px;
    margin: 0 auto;
    object-fit: contain;
    cursor: pointer;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
  }
  &__title {
    font-size: 23px;
    color: #1C1C27;
    padding: 10px 15px;
    text-align: center;
  }
  &__favorite{
    font-size: 35px;
    padding-left: 10px;
    cursor: pointer;
  }
  &__btn{
    width: 200px!important;
    height: 40px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 980px;
    background: #0071e3;
    outline: none;
    border: none;
    &-remove{
      color: red!important;
      border: 1px solid red!important;
      width: 165px;
    }
    &-add{
      width: 165px;
    }
  }
  &__price {
    color: #FFA542;
    margin-right: 20px;
    font-size: 22px;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}
.favorite__icon{
    width: 20px;
    height: 20px;
    color: #101010;
    top: 10;
    left: 0;
    font-size: 25px;
    border: none;
    cursor: pointer;
    background: #FFFFFF;
}

.basket__icon{
  width: 200px;
  height: 35px!important;
  display: flex;
  padding-bottom: -30px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}