.card {
  width: 360px;
  height: 800px;
  min-height: 800px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 20px 15px;
  &__img {
    width: 100%;
    max-width: 300px;
    height: 238px;
    min-height: 300px;
    margin: 0 auto;
    object-fit: cover;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
  }
  &__name {
    font-size: 23px;
    color: #1C1C27;
  }
  &__btn{
    width: 100px;
    height: 40px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 980px;
    background: #0071e3;
    outline: none;
    border: none;
  }
  &__price {
    color: #FFA542;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}
.favorite__icon{
    width: 20px;
    height: 20px;
    color: #101010;
    top: 10;
    left: 0;
    font-size: 25px;
    border: none;
    cursor: pointer;
    background: #FFFFFF;
}

.basket__icon{
  width: 200px;
  height: 35px!important;
  display: flex;
  padding-bottom: -30px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}