.favorites{
  width: 100%;
  background: #EAEAEA;
  margin: 0 auto;
  &__container{
    width: 100%;
    padding: 25px 15px;
    margin: 0 auto;
  }
  &__title{
    font-size: 25px;
    padding: 20px 30px;
  }
  &__row{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 70px
  }
}
.empty__container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.empty__title{
  font-size: 30px;
  margin: 0 auto;
}
.empty__btn{
  width: 400px;
  height: 70px;
  background: #101010;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 21px;
  text-decoration: none;
  cursor: pointer;
}