.favorites{
  width: 100%;
  background: #EAEAEA;
  margin: 0 auto;
  &__container{
    width: 100%;
    padding: 25px 15px;
    margin: 0 auto;
  }
  &__title{
    font-size: 25px;
    padding: 20px 30px;
  }
  &__row{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 70px
  }
}