@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background: #EAEAEA;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}


